html, body {
    margin: 0;
    padding: 0;
}


/* Header */

.header {
    display: flex;
    background: url(green-mountains.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 600px;
    margin-bottom: 0px;
    flex-direction: column;
}

.header .container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 1024px;
    width: 95%;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
}

.menu li a {
    color: #fff;
}

.menu li {
    display: inline;
    font-size: 20px;
    padding: 5px 20px;
    margin: 0px 5px;
}

.button {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.heading {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 100px;
}

.heading h1, .heading h3 {
    text-align: center;
}


/* Work */

.work {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px 0;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

.work ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    text-align: center;
}

.work li {
    padding: 10px 0px;
}

.work h2 {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.work img {
    height: 200px;
    width: 360px;
}


/* Buttons */

.buttons {
    background-color: #f2f2f2;
    text-align: center;
    padding: 0 0 10px 0;
    margin-top: 0px;
}

.buttons li a {
    color: #fff;
}

.buttons .button {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 25px;
    border-radius: 2px;
}

.buttons ul {
    padding: 0;
    list-style: none;
}

.buttons li {
    display: inline-block;
    font-size: 20px;
    margin: 5px 20px;
    width: 300px;
}


/* Footer */

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
}

.footer h2 {
    margin-top: 30px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer img {
    height: 40px;
}

.footer li {
    display: inline;
    padding: 10px 20px;
}

.footer p {
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    @media (min-width: 992px) {
        align-items: flex-end;
    }
}

@media (min-width: 992px) {
    .menu {
        justify-content: flex-end;
        display: inline-flex;
    }
    .logo {
        display: inline-flex;
        justify-content: flex-start;
    }
    .work ul {
        flex-direction: row;
    }
    .work li {
        display: inline-flex;
        padding: 10px 10px;
    }
}
